################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/RhumGuybrush/v16/Browse.VC.db
/.vs/RhumGuybrush/v16/Browse.VC.db-shm
/.vs/RhumGuybrush/v16/Browse.VC.db-wal
/.vs/RhumGuybrush/v16/Browse.VC.opendb
